<title>Products</title>
<link rel='stylesheet' href='./static/products_style.css'>
<div ng-controller="productController">
<br>
<input type="text" ng-model="filter_name" placeholder="search...">
<h1><u>Add a new product</u></h1>

<div class="entry">
<p style="color:red" style="font-weight:bold">{{ error.message }}</p><br>
    <label>Name:</label>
        <input type="text" ng-model="products.name" placeholder="name">
    <label>Image:</label>
        <input type="text" ng-model="products.image" placeholder="image">
    <label>Description:</label>
        <input type="text" ng-model="products.description" placeholder="description">
    <label>Initial Quantity:</label>
        <input type="number" ng-model="products.qty">
    				
        <input type="submit" ng-click="addProduct()" value="Create">
</div>
        
       
            <div class="product" ng-repeat="product in products | filter: filter_name">
                <img src='{{ product.image }}' style="width: 200px;height: 200px"><br>
                <p style="color: green">{{ product.name }}</p>
                <p style="color: red">{{ product.description }}</p>
                <p>{{ product.qty }}</p>
<!-- ADD THE QTY TO THE SCHEMA AND CHECK PREVIOUS ASSIGNMENTS TO REDUCE THE COUNT -->
            </div>
    </div>