<title>Settings</title>
<link rel='stylesheet' href='./static/settings_style.css'>
<h1>YOU HAVE CHOSEN THE SETTINGS TAB.  YOU DO NOT HAVE PERMISSION TO ALTER ANY SETTINGS, AND YOUR FEET SMELL.  BUT SO THAT YOU FEEL LIKE YOU'VE DONE SOMETHING, HERE IS SOMETHING FOR YOUR TROUBLES:<BR>
<BR><BR><BR>
 THE SECOND COMING<BR>
<BR>
    Turning and turning in the widening gyre<BR>
    The falcon cannot hear the falconer;<BR>
    Things fall apart; the centre cannot hold;<BR>
    Mere anarchy is loosed upon the world,<BR>
    The blood-dimmed tide is loosed, and everywhere<BR>
    The ceremony of innocence is drowned;<BR>
    The best lack all conviction, while the worst<BR>
    Are full of passionate intensity.<BR>
<BR>
    Surely some revelation is at hand;<BR>
    Surely the Second Coming is at hand.<BR>
    The Second Coming! Hardly are those words out<BR>
    When a vast image out of Spiritus Mundi<BR>
    Troubles my sight: a waste of desert sand;<BR>
    A shape with lion body and the head of a man,<BR>
    A gaze blank and pitiless as the sun,<BR>
    Is moving its slow thighs, while all about it<BR>
    Wind shadows of the indignant desert birds.<BR>
<BR>
    The darkness drops again but now I know<BR>
    That twenty centuries of stony sleep<BR>
    Were vexed to nightmare by a rocking cradle,<BR>
    And what rough beast, its hour come round at last,<BR>
    Slouches towards Bethlehem to be born?<BR>




</h1>