body {
	background-color: gray;
}

/*#table {
	width: 700px;
    height: 225px;
    overflow-y: auto;
    border: 1px solid green;
    margin: 0 auto;
}*/
table {
    width: 650px;
    height: 200px;
    margin: 0 auto;
    margin-top: 25px; 
    /*overflow-y: auto;*/
}
table td {
    width: 80px;
    height: 25px;
    text-align: center;
    border: 1px solid blue;
}